@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*background for the navbar to have a slight blur effect*/
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
}

/*adding fonts for the words*/
.header {
  font-family: Caveat, sans-serif;
}
.logo {
  font-family: JetBrains Mono;
}
#title {
  font-family: JetBrains Mono, sans-serif;
}
#desc {
  font-family: Caveat, sans-serif;
}
/*styling for the img's in the carousel*/
img {
  object-fit: cover;
  height: 500px;
  transition: 0.5s;
}
img:hover {
  transform: scale(102%);
  transition: 0.5s;
}
/* Changes selecting color */
::selection {
  color: #eee;
  background: black;
}
/* Code for Firefox */
::-moz-selection {
  color: #eee;
  background: black;
}
